@import "../../styles/variables";
$timer-size: 120px;
.base-timer {
  position: relative;
  height: $timer-size;
  width: $timer-size;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 6px;
  stroke: $alice-blue;
}
.base-timer__label {
  position: absolute;
  width: $timer-size;
  height: $timer-size;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__path-remaining {
  stroke-width: 6px;
  stroke-linecap: square;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
}
.base-timer__path-remaining.green {
  stroke: $green;
}
.base-timer__path-remaining.red {
  stroke: $red;
}