/*=====  Font Sizes =====*/
/*=======================*/
$text-sm: 0.75rem;
$text-regular: 1rem;
$text-md: 1.5rem;
$text-lg: 2.25rem;
$text-xl: 3rem;

/*=====  Colors =====*/
/*===================*/
$black: #08090a;
$cool-grey: #8789c0;
$alice-blue: #f4faff;
$maya-blue: #7cc6fe;
$sea-green: #5dfdcb;
/* generic colors */
$green: #439a3b;
$red: #d0342c;
$orange: #c57431;
$yellow: #eedc82;

/*=====  BreakPoints =====*/
/*========================*/
$xs: 426px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*=====  Spacing =====*/
/*====================*/
$space-xxs: 6px;
$space-xs: 12px;
$space-sm: 20px;
$space-md: 32px;
$space-lg: 40px;
$space-xl: 60px;
$space-xxl: 100px;